#producto{
  height: 50vh;
  overflow-y: scroll;
}

#total{
  font-weight: bold;
  font-size: 15px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
}

input[type="text"], input[type="number"] {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #888;
  background-color: #555;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #888;
  text-align: left;
}

th, td {
  padding: 15px;
  background-color: #555;
  color: #fff;
}

th {
  background-color: #007BFF;
  color: white;
}

tr:nth-child(even) {
  background-color: #444;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: #ddd;
  background-color: #555;
}

table, th, td {
  border: 1px solid #888;
  text-align: left;
}

th, td {
  padding: 15px;
}

th {
  background-color: #007BFF;
  color: white;
}

tr:nth-child(even) {
  background-color: #444;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #b71c1c;
}
th {
  background-color: #007BFF;
  color: white;
}

th:nth-child(1) {
  background-color: #1abc9c;
}

th:nth-child(2) {
  background-color: #3498db;
}

th:nth-child(3) {
  background-color: #9b59b6;
}

th:nth-child(4) {
  background-color: #e67e22;
}

th:nth-child(5) {
  background-color: #e74c3c;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width:  auto;
  margin: 0 auto;
}