.userCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 10%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.derecho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;

}

.card {
    width: 190px;
    height: 254px;
    background-image: linear-gradient(144deg, #aa5810, #e67e22 60%, #e7a66c);
    border: none;
    border-radius: 10px;
    padding-top: 10px;
    position: relative;
    font-family: inherit;
}

.card span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 1.3em;
}

.card .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 5px;
    font-size: 1em;
}

.card .img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: auto;
    margin-top: 5px;
}

.card button {
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    background: #e8e8e8;
    color: #111111;
    font-weight: 600;
}

.card button:hover {
    background: #212121;
    color: #ffffff;
}

.boton-ver {
    width: 150px;
    padding: 8px 20px;
    display: block;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #e8e8e8;
    color: #111111;
    font-weight: 600;
}

.boton-ver:hover {
    background: #212121;
    color: #ffffff;
}


.table-fact {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    min-height: 200px;
    /* Ajusta según sea necesario */
    overflow: auto;
    /* Permite el desplazamiento si el contenido excede el contenedor */
}

.top-table {
    background-color: #e67e22;
    font-size: 15px;
    color: white;

}

.top-table-1 {
    background-color: #e67e22;
    font-size: 15px;
    color: white;
    border-radius: 6px 0px 0px 0px;
}

.top-table-2 {
    background-color: #e67e22;
    font-size: 15px;
    color: white;
    border-radius: 0px 6px 0px 0px;
}

.dato-table {
    text-align: center;
    background-color: #555;
    color: #fff;
}

.btn-acciones {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-filtros {
    display: flex;
    height: 60px;
    gap: 10px;
    margin-right: 90px;
}

.tabla {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 200px;
    /* Ajusta según sea necesario */
    overflow: auto;
    /* Permite el desplazamiento si el contenido excede el contenedor */
}