
.top-title{
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.boton-agregar {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.boton-agregar:hover {
    background-color: #0056b3;
}
.botones-form {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(207, 25, 25);
    color: white;
    cursor: pointer;
}

.botones-form:hover {
    background-color: red;
}

.botones-form:active {
    background-color: rgb(145, 0, 0);
}

.botones-form-generar {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(10, 180, 24);
    color: white;
    cursor: pointer;
}

.botones-form-generar:hover {
    background-color: rgb(18, 228, 36);
}

.botones-form-generar:active {
    background-color: rgb(9, 150, 21);
}

.botones-form-cancelar {
    margin-left: 20px;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(39, 106, 182);
    color: white;
    cursor: pointer;
}

.botones-form-cancelar:hover {
    background-color: rgb(49, 132, 228);
}

.botones-form-cancelar:active {
    background-color: rgb(30, 84, 146);
}

.btnes-modificar{
   display: flex;
   justify-content: center;
   text-align: center;
   gap: 20px;
   margin-top: 20px;
}